/* center horizon */
.center-horizon{
  text-align: center;
}
.center-horizon>*{
  margin: 18px;
  display: inline-block;
  vertical-align: top;
}

/* center vertical */
.center-vertical{
  padding: 50px 0;
}

/* horizontal list */
.horizontal-list{
  padding: 0;
  list-style: none;
}
.horizontal-list li{
  float: left;

}
