/* general */

body{
  font-size: 14px;
}

a {
  text-decoration: none;
}

/* center horizon */
.center-horizon{
  text-align: center;
}

.center-horizon>*{
  display: inline-block;
}

.children-space>*{
  margin: 18px;
}

.children-align-top>*{
  vertical-align: top;
}

/* center vertical */
.center-vertical{
  padding: 50px 0;
}

/* horizontal list */
.horizontal-list{
  list-style: none;
}

.float-left, .horizontal-list li{
  float: left;
}

.no-padding{
  padding: 0;
}

/* buttons */
.button{
  text-decoration: none;
  display: inline-block;
  border: none;
}

.round-corners{
  border-radius: 5px;
}

.button-action{
  color: white;
  background-color: #ED828A;
}

.button-large{
  padding: 20px 60px;
  font-size: 22px;
}

.button-medium{
  padding: 10px 40px;
}

.button-small{
  padding: 5px 7px;
  font-size: 12px;
}

/* navigation */
.navbar li{
  padding: 10px 40px;
  background-color: #ED828A;
}

.navbar a{
  color: white;
  text-decoration: none;
}

.navbar li:hover{
  background-color: #ab3636;
}

.navbar ul{
  display: inline-block;
  overflow: hidden;
}

/* pagination */
.pagination li{
  display: inline-block;
  border-bottom: 3px solid #ED828A;
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 4px;
  padding: 4px;
}

.pagination a{
  text-decoration: none;
  color: #ED828A;
}

.pagination .pagination-current{
  color: #C8C8C8;
  border-bottom: 3px solid #C8C8C8;
}

.pagination li:first-child, .pagination li:last-child{
  border-bottom: none;
}

/* comment stream */
.media-block, .media-block-content{
  overflow:hidden;
}

.media-block-image{
  margin: 0 10px 10px 0;
}

/* tabs */

.tab-header li{
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
  border: 1px solid #B6B9E4;
  border-bottom: none;
  position: relative;
  bottom: -1px;
}

.tab-header li a{
  color: blue;
  font-weight: bold;
  font-size: 12px;
}

.tab-content{
  padding: 10px 10px;
  border: 1px solid #B6B9E4;
  clear: left;
}

.tab-header .tab-active{
  background-color: white;
}

.clear-left{
  clear: left;
}
